extends layout

block content
	img.img-responsive(src='/images/TASKR.png', alt='Responsive image' class="img-rounded")
	h1= title
	p Start on your task now!

	div
		a.btn.btn-default(href='/login') Login
	div
		a.btn.btn-default(href='/signup') Signup
